---
import Main from "../layouts/main.astro";
import Form from "../components/login/form.astro";
---

<style is:global>

	*,
	*::after,
	*::before{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	html{
		scroll-behavior: smooth;
		width: 100vw;
		height: 100%;
	}
	body{
		background-color: #e9c243;
		font-family: 'Roboto', sans-serif;
	}
</style>
<Main title="Login">
    <Form />
</Main>