---
---
<style>
    aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 998;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #efca6e;
    }
    a{
        display: block;
        text-decoration: none;
        color: #ff8e57;
        font-weight: 700;
        font-size: 3em;
    }
</style>
<aside>
  <nav>
    <a href="#">Tema</a>
    <a href="#">Tema</a>
    <a href="#">Tema</a>
    <a href="#">Tema</a>
  </nav>
</aside>
