---

---
<style>
    footer{
        width: 100%;
        display: flex;
        height: 4.5rem;
        padding: 1em 0;
        background-color: #ea834c;
        align-items: center;
        justify-content: space-around;
    }
    div{
        width: 33vw;
    }
    p{
        display: inline;
    }
</style>
<footer>
    <div>
        <h4>Contacto</h4>
        <img src="/message.png" alt="mensaje">
        <span>Correo Electrónico </span>
        <p>crisiancode615@gmail.com</p>
    </div>
    <div>
        <h4>Sígueme</h4>
        <a href="https://github.com/cristianVega615/landing-page-new" target="_blank"><img src="/github.png" alt="git-hub"></a>
    </div>
</footer>