---
    const {class: className} = Astro.props;
---
<style>
    
</style>
<button class={`hamburger ${className} hamburger--slider`} id="none" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>

</button>