---
    const {class: className} = Astro.props;
---
<style>
    /* .hamburger{
        display: none !important;
    } */
</style>
<button class={`hamburger .none .menu ${className} hamburger--slider`}  type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>

</button>

<script>
    let aside = document.querySelector(".aside");
    let btn = document.querySelector(".menu") as HTMLButtonElement;
    btn.addEventListener("click", (event) => {
        aside.classList.toggle("menu-active")
        btn.classList.toggle("is-active")
    })
    
    let bool =window.matchMedia('(max-width:58rem)'); 

    export const responsive = (e) => {
        if(e.matches){
            btn.classList.add("btn-active")
        } else {
            btn.classList.remove("btn-active")
            aside.classList.remove("menu-active")
            btn.classList.remove("is-active")
        }
    }
    
    window.addEventListener("load", () => {
    if (
        bool.matches ||
      navigator.userAgent.match(/Android/i) ||
      navigator.userAgent.match(/webOS/i) ||
      navigator.userAgent.match(/iPhone/i) ||
      navigator.userAgent.match(/iPad/i) ||
      navigator.userAgent.match(/iPod/i) ||
      navigator.userAgent.match(/BlackBerry/i) ||
      navigator.userAgent.match(/Windows Phone/i)
    ) {
      btn.classList.add("btn-active");
    } else {
      btn.classList.remove("btn-active");
      aside.classList.remove("menu-active");
      btn.classList.remove("is-active");
    }
  });
    bool.addEventListener("change", responsive)
</script>