---
---

<style>
  button{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color:  #fff;
  }
  button::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  }
  button.active{
    background-color: orange;
  }
  button.active::after{
    right: 0;
    left: unset;
  }
</style>

<button id="button-toggle">
  <span class="span"><img src="/icons8-sol-25.png" alt="" /></span>
  <span class="span"><img src="/icons8-luna-creciente-25.png" alt="" /></span>
</button>
<script>
  let darkMode = document.querySelector("#button-toggle");
  darkMode.addEventListener("click", (event) => {
    darkMode.classList.toggle("active")
  });
</script>
